#root {
    margin: 0 auto;
    height: 100%
}

.app {
    height: 100%;
}

.app-bar {
    background-color: #ffffff !important;
}

.app-title {
    flex-grow: 1
}

.colors-container {
    height: calc(100% - 64px);
}

.add-color {
    position: relative;
    left: -24px;
    top: 50%;
}

.add-color button {
    display: none;
    background-color: white;
    color: #242424;
    width: 48px;
    height: 48px;
}

.add-color-left {
    left: 0;
}

.add-color-right {
    position: absolute;
    left: auto;
    right: 0;
    top: calc(50% + 32px);
}

.color-name {
    position: relative;
    bottom: 20px;
    font-size: 2em;
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1em;
}

.color-actions {
    margin: 0 auto 4em;
}

.color-actions button{
    display: none;
}

.color-band-container:hover .color-actions button{
    display: block;
}

.colors-container:hover .add-color button{
    /*display: block;*/
}